Img{ 
    width: 50px;
}
.example-spacer {
    flex: 1 1 auto;
}  

@media (min-width: 300px) and (max-width: 700px){
    mat-toolbar{
        background-color: rgb(23, 8, 243);
    }

    #menuInicio{
        display: none;
        
    }

    #menuProducto{
        display: none;
    }
}

/* ENCAPSULA ESTILOS PARA PANTALLAS MÃS GRANDES -> ej.: computadora, televisor */
@media (min-width: 700px){
    mat-toolbar{
        background-color: rgb(0, 0, 0);
        color: white;
    }

    #menuSecciones{
        display: none;
    }
}